In [3]:
import pandas as pd

# List of filtered files and their label columns
datasets = [
    ('filtered1_resumes.csv', 'Normalized_Label'),
    ('filtered2_resumes.csv', 'Category'),
    ('filtered3_resumes.csv', 'Category'),
    ('filtered4_resumes.csv', 'Category'),
    ('filtered_job_descriptions.csv', 'Job Title')
]

# Loop through each file, load it, and print unique labels with counts
for filename, label_col in datasets:
    print(f"\n===== {filename} =====")
    try:
        df = pd.read_csv(filename)
        label_counts = df[label_col].value_counts()
        print(label_counts)
    except Exception as e:
        print(f"Failed to read {filename}: {e}")

===== filtered1_resumes.csv =====
Normalized_Label
software_developer        5828
systems_administrator     4182
web_developer             3466
database_administrator    2784
java_developer            2418
network_administrator     2260
Name: count, dtype: int64

===== filtered2_resumes.csv =====
Category
Backend Developer       57
Frontend Developer      54
Data Scientist          53
Full Stack Developer    47
Name: count, dtype: int64

===== filtered3_resumes.csv =====
Category
SALES    116
HR       110
Name: count, dtype: int64

===== filtered4_resumes.csv =====
Category
Java Developer               84
HR                           44
Data Science                 40
Sales                        40
Database                     33
Network Security Engineer    25
Name: count, dtype: int64

===== filtered_job_descriptions.csv =====
Job Title
Network Administrator     17581
Systems Administrator     17281
Java Developer            10589
Sales Manager             10417
HR Manager                10405
Web Developer             10361
Database Administrator    10280
Data Scientist             6940
Software Developer         3517
Name: count, dtype: int64

In [7]:
import pandas as pd

# Load the dataset
df = pd.read_csv("filtered2_resumes.csv")

# Rename categories
df["Category"] = df["Category"].replace({
    "Frontend Developer": "Web Developer",
    "Full Stack Developer": "Web Developer",
    "Backend Developer": "Software Developer"
})

# (Optional) Save to a new file if needed
df.to_csv("updated_filtered2_resumes.csv", index=False)

['Web Developer' 'Software Developer' 'Data Scientist']

In [9]:
# Count each unique category
category_counts = df["Category"].value_counts()

# Display the counts
print(category_counts)

Category
Web Developer         101
Software Developer     57
Data Scientist         53
Name: count, dtype: int64

In [11]:
import pandas as pd

# Load the dataset
df = pd.read_csv("filtered1_resumes.csv")

# Rename Normalized_Label values
df["Normalized_Label"] = df["Normalized_Label"].replace({
    "software_developer": "Software Developer",
    "systems_administrator": "Systems Administrator",
    "web_developer": "Web Developer",
    "database_administrator": "Database Administrator",
    "java_developer": "Java Developer",
    "network_administrator": "Network Administrator"
})

# Count and print unique values
label_counts = df["Normalized_Label"].value_counts()
print(label_counts)

# Save to a new CSV file
df.to_csv("updated_filtered1_resumes.csv", index=False)

Normalized_Label
Software Developer        5828
Systems Administrator     4182
Web Developer             3466
Database Administrator    2784
Java Developer            2418
Network Administrator     2260
Name: count, dtype: int64

In [43]:
import pandas as pd

# Load the dataset
df = pd.read_csv("filtered3_resumes.csv")

# Rename categories
df["Category"] = df["Category"].replace({
    "SALES": "Sales Manager",
    "HR": "HR Manager"
})

# Print unique values with their counts
category_counts = df["Category"].value_counts()
print(category_counts)

# Save the updated DataFrame to a new CSV
df.to_csv("updated_filtered3_resumes.csv", index=False)

Category
Sales Manager    116
HR Manager       110
Name: count, dtype: int64

In [51]:
import pandas as pd

# Load the dataset
df = pd.read_csv("filtered4_resumes.csv")

# Rename categories
df["Category"] = df["Category"].replace({
    "HR": "HR Manager",
    "Data Science": "Data Scientist",
    "Sales": "Sales Manager",
    "Database": "Database Administrator",
    "Network Security Engineer": "Network Administrator"
    
})
# Print unique values with their counts
category_counts = df["Category"].value_counts()
print(category_counts)

# Save the updated DataFrame to a new CSV
df.to_csv("updated_filtered4_resumes.csv", index=False)

Category
Java Developer            84
HR Manager                44
Data Scientist            40
Sales Manager             40
Database Administrator    33
Network Administrator     25
Name: count, dtype: int64

In [33]:
import pandas as pd

# Load updated datasets
df1 = pd.read_csv("updated_filtered1_resumes.csv")
df2 = pd.read_csv("updated_filtered2_resumes.csv")
df3 = pd.read_csv("updated_filtered3_resumes.csv")
df4 = pd.read_csv("updated_filtered4_resumes.csv")

# Optional: print their shapes or a few rows to confirm
print("filtered1:", df1.shape)
print("filtered2:", df2.shape)
print("filtered3:", df3.shape)
print("filtered4:", df4.shape)

filtered1: (20938, 3)
filtered2: (211, 2)
filtered3: (226, 4)
filtered4: (226, 4)

In [31]:
df1 = pd.read_csv("updated_filtered1_resumes.csv")
df1.head()

,File_ID,Resume_Text,Normalized_Label
0,1,Database Administrator Database Administrator ...,Database Administrator
1,2,Database Administrator Database Administrator ...,Database Administrator
2,3,Oracle Database Administrator Oracle Database ...,Database Administrator
3,4,Amazon Redshift Administrator and ETL Develope...,Database Administrator
4,5,Scrum Master Scrum Master Scrum Master Richmon...,Database Administrator

In [35]:
df2 = pd.read_csv("updated_filtered2_resumes.csv")
df2.head()

             Category                                             Resume
0       Web Developer  As a seasoned Frontend Developer, I have a pro...
1  Software Developer  With a solid background in Backend Development...
2      Data Scientist  With a background in Data Science, I possess a...
3       Web Developer  Experienced Frontend Developer with a passion ...
4       Web Developer  Passionate Frontend Developer with over 4 year...

In [55]:
df3 = pd.read_csv("updated_filtered3_resumes.csv")
df3.head()

,ID,Resume_str,Resume_html,Category
0,16852973,HR ADMINISTRATOR/MARKETING ASSOCIATE\...,"<div class=""fontsize fontface vmargins hmargin...",HR Manager
1,22323967,"HR SPECIALIST, US HR OPERATIONS ...","<div class=""fontsize fontface vmargins hmargin...",HR Manager
2,33176873,HR DIRECTOR Summary Over 2...,"<div class=""fontsize fontface vmargins hmargin...",HR Manager
3,27018550,HR SPECIALIST Summary Dedica...,"<div class=""fontsize fontface vmargins hmargin...",HR Manager
4,17812897,HR MANAGER Skill Highlights ...,"<div class=""fontsize fontface vmargins hmargin...",HR Manager

In [57]:
df4 = pd.read_csv("updated_filtered4_resumes.csv")
df4.head()

         Category                                             Resume
0  Data Scientist  Skills * Programming Languages: Python (pandas...
1  Data Scientist  Education Details \r\nMay 2013 to May 2017 B.E...
2  Data Scientist  Areas of Interest Deep Learning, Control Syste...
3  Data Scientist  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4  Data Scientist  Education Details \r\n MCA   YMCAUST,  Faridab...