In [3]:
import pandas as pd

In [5]:
# Load and verify the saved file
data = pd.read_csv('resumes_combined_updated_utf8.csv')
print("\nSaved file:")
print("Columns:", data.columns)
print("Total rows:", len(data))
print("Data types:\n", data.dtypes)
print("Sample data:\n", data.head(10))

Saved file:
Columns: Index(['Resume', 'Category'], dtype='object')
Total rows: 23640
Data types:
 Resume      object
Category    object
dtype: object
Sample data:
                                               Resume                Category
0  Database Administrator- Family Private Care LL...  Database Administrator
1  Database Administrator Database Administrator ...  Database Administrator
2  Oracle Database Administrator Oracle Database ...  Database Administrator
3  Amazon Redshift Administrator and ETL Develope...  Database Administrator
4  Scrum Master Scrum Master Scrum Master Richmon...  Database Administrator
5  Oracle Database Administrator Oracle Database ...  Database Administrator
6  Oracle Database Administrator Oracle Database ...  Database Administrator
7  Lead Database Administrator/Developer Lead Dat...  Database Administrator
8  Database Administrator / Database Developer Da...  Database Administrator
9  Oracle Database Administrator Oracle Database ...  Database Administrator

In [7]:
# Get unique categories and their counts
category_counts = data['Category'].value_counts()

# Print the results
print("Unique Categories and Their Counts:")
print(category_counts)
print(f"\nTotal unique categories: {len(category_counts)}")
print(f"Total rows in dataset: {len(data)}")

Unique Categories and Their Counts:
Category
Software Developer                                                                                                                                                                                                                                                                                                                                                                                                                                                             5882
Systems Administrator                                                                                                                                                                                                                                                                                                                                                                                                                                                          4178
Web Developer                                                                                                                                                                                                                                                                                                                                                                                                                                                                  3565
Database Administrator                                                                                                                                                                                                                                                                                                                                                                                                                                                         2812
Java Developer                                                                                                                                                                                                                                                                                                                                                                                                                                                                 2488
Network Administrator                                                                                                                                                                                                                                                                                                                                                                                                                                                          2284
Data Scientist                                                                                                                                                                                                                                                                                                                                                                                                                                                                 2094
Sales Manager                                                                                                                                                                                                                                                                                                                                                                                                                                                                   156
HR Manager                                                                                                                                                                                                                                                                                                                                                                                                                                                                      154
 JUnit                                                                                                                                                                                                                                                                                                                                                                                                                                                                            2
 Query Analyzer                                                                                                                                                                                                                                                                                                                                                                                                                                                                   1
 VA May 2006 to April 2009 District of Columbia                                                                                                                                                                                                                                                                                                                                                                                                                                   1
 patching                                                                                                                                                                                                                                                                                                                                                                                                                                                                         1
 project time schedule                                                                                                                                                                                                                                                                                                                                                                                                                                                            1
 guiding                                                                                                                                                                                                                                                                                                                                                                                                                                                                          1
 Entity Framework                                                                                                                                                                                                                                                                                                                                                                                                                                                                 1
 SVN-basic                                                                                                                                                                                                                                                                                                                                                                                                                                                                        1
 C++                                                                                                                                                                                                                                                                                                                                                                                                                                                                              1
 Glue                                                                                                                                                                                                                                                                                                                                                                                                                                                                             1
 NodeJS.Â  â¢ Utilized MEAN stack                                                                                                                                                                                                                                                                                                                                                                                                                                                1
 Unions in Oracle data base to fetch the data.Â  â¢ Developed Applications using Rule Engines-Jboss Drools4.x                                                                                                                                                                                                                                                                                                                                                                    1
 Excel                                                                                                                                                                                                                                                                                                                                                                                                                                                                            1
 clarifications on specifications and resolve issues on Ambiguity.Â  â¢ Preparing the Proof of Concepts.Â  â¢ Brain Storming the Requirements and Preparing the Design documentÂ  â¢ Preparing the UML diagrams (Use Case                                                                                                                                                                                                                                                      1
 deploy and manage all internal web- based training                                                                                                                                                                                                                                                                                                                                                                                                                               1
 Angularjs                                                                                                                                                                                                                                                                                                                                                                                                                                                                        1
 CSS and JavaScript.Â  â¢ Developed UI using HTML                                                                                                                                                                                                                                                                                                                                                                                                                                1
 Integration                                                                                                                                                                                                                                                                                                                                                                                                                                                                      1
 was responsible to port                                                                                                                                                                                                                                                                                                                                                                                                                                                          1
 Triggers.â  Ä Extensively used JDBC to access the database objects.â  Ä Prepared UNIT test cases                                                                                                                                                                                                                                                                                                                                                                             1
 J2EE                                                                                                                                                                                                                                                                                                                                                                                                                                                                             1
 MySQL5.1/4.1                                                                                                                                                                                                                                                                                                                                                                                                                                                                     1
 account problems                                                                                                                                                                                                                                                                                                                                                                                                                                                                 1
 and administer 17+ web and database servers to include Network Load Balancing                                                                                                                                                                                                                                                                                                                                                                                                    1
 branching and writing config specs for ClearCase.Ã¡ Ä½ Migrate EAR/JAR files to non-prod WebLogic/WebSphere/ILOG RES servers.Ã¡ Ä½ Coordinating the AML production releases with WebLogic/WebSphere webadmin and DB2/Oracle DBA.Ã¡ Ä½ Providing production support for AML FE                                                                                                                                                                                                    1
 credit conditions and so on based on the options dialed through the phone. The struts 2.0 framework was established to decouple the controller pattern from the whole front end development and set the view layer. We configured the pom.xml for the Maven-based build to include the libraries and configured the web.xml to apply the filter and filter mappings for the struts packages. Then we configured using struts.xml all the actions for struts 2.0 to be used       1
Name: count, dtype: int64

Total unique categories: 35
Total rows in dataset: 23640

In [9]:
import pandas as pd

# Load the dataset
df = pd.read_csv('resumes_combined_updated_utf8.csv')

In [11]:
# Define the categories to keep
keep_categories = [
    'Software Developer',
    'Systems Administrator',
    'Web Developer',
    'Database Administrator',
    'Java Developer',
    'Network Administrator',
    'Data Scientist'
]

# Filter the dataset
df_filtered = df[df['Category'].isin(keep_categories)]

In [13]:
# Verify row count
print(f"Total rows after filtering: {len(df_filtered)}")

# Verify unique categories and their counts
category_counts = df_filtered['Category'].value_counts()
print("\nUnique Categories and Their Counts:")
print(category_counts)
print(f"Total unique categories: {len(category_counts)}")

# Check data types
print("\nData types:\n", df_filtered.dtypes)

# View sample data
print("\nSample data:\n", df_filtered.head(10))

Total rows after filtering: 23303

Unique Categories and Their Counts:
Category
Software Developer        5882
Systems Administrator     4178
Web Developer             3565
Database Administrator    2812
Java Developer            2488
Network Administrator     2284
Data Scientist            2094
Name: count, dtype: int64
Total unique categories: 7

Data types:
 Resume      object
Category    object
dtype: object

Sample data:
                                               Resume                Category
0  Database Administrator- Family Private Care LL...  Database Administrator
1  Database Administrator Database Administrator ...  Database Administrator
2  Oracle Database Administrator Oracle Database ...  Database Administrator
3  Amazon Redshift Administrator and ETL Develope...  Database Administrator
4  Scrum Master Scrum Master Scrum Master Richmon...  Database Administrator
5  Oracle Database Administrator Oracle Database ...  Database Administrator
6  Oracle Database Administrator Oracle Database ...  Database Administrator
7  Lead Database Administrator/Developer Lead Dat...  Database Administrator
8  Database Administrator / Database Developer Da...  Database Administrator
9  Oracle Database Administrator Oracle Database ...  Database Administrator

In [15]:
# Ensure consistent data types
df_filtered['Resume'] = df_filtered['Resume'].astype(str).replace('nan', 'Unknown')
df_filtered['Category'] = df_filtered['Category'].astype('category')

C:\Users\Asad Computers\AppData\Local\Temp\ipykernel_14968\3023477380.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['Resume'] = df_filtered['Resume'].astype(str).replace('nan', 'Unknown')
C:\Users\Asad Computers\AppData\Local\Temp\ipykernel_14968\3023477380.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['Category'] = df_filtered['Category'].astype('category')

In [17]:
# Filter the dataset and create a copy
df_filtered = df[df['Category'].isin(keep_categories)].copy()

# Now safely modify df_filtered
df_filtered['Resume'] = df_filtered['Resume'].astype(str).replace('nan', 'Unknown')
df_filtered['Category'] = df_filtered['Category'].astype('category')

In [19]:
# Save the filtered dataset
df_filtered.to_csv('resumes_filtered_utf8.csv', index=False, encoding='utf-8')

In [21]:
# Load and verify the saved file
df_verified = pd.read_csv('resumes_filtered_utf8.csv')
print("\nSaved file:")
print("Columns:", df_verified.columns)
print("Total rows:", len(df_verified))
print("Data types:\n", df_verified.dtypes)
print("Sample data:\n", df_verified.head(10))
print("\nUnique Categories in saved file:")
print(df_verified['Category'].value_counts())

Saved file:
Columns: Index(['Resume', 'Category'], dtype='object')
Total rows: 23303
Data types:
 Resume      object
Category    object
dtype: object
Sample data:
                                               Resume                Category
0  Database Administrator- Family Private Care LL...  Database Administrator
1  Database Administrator Database Administrator ...  Database Administrator
2  Oracle Database Administrator Oracle Database ...  Database Administrator
3  Amazon Redshift Administrator and ETL Develope...  Database Administrator
4  Scrum Master Scrum Master Scrum Master Richmon...  Database Administrator
5  Oracle Database Administrator Oracle Database ...  Database Administrator
6  Oracle Database Administrator Oracle Database ...  Database Administrator
7  Lead Database Administrator/Developer Lead Dat...  Database Administrator
8  Database Administrator / Database Developer Da...  Database Administrator
9  Oracle Database Administrator Oracle Database ...  Database Administrator

Unique Categories in saved file:
Category
Software Developer        5882
Systems Administrator     4178
Web Developer             3565
Database Administrator    2812
Java Developer            2488
Network Administrator     2284
Data Scientist            2094
Name: count, dtype: int64

In [23]:
print(f"Duplicate Resume count: {df_filtered['Resume'].duplicated().sum()}")
df_filtered = df_filtered.drop_duplicates(subset=['Resume'])
print(f"Rows after deduplication: {len(df_filtered)}")

Duplicate Resume count: 917
Rows after deduplication: 22386

In [25]:
import pandas as pd

# Step 1: Load the dataset
df = pd.read_csv('resumes_filtered_utf8.csv')

# Step 2: Identify duplicated Resume entries (keep all occurrences)
duplicates_mask = df['Resume'].duplicated(keep=False)
duplicate_rows = df[duplicates_mask]

# Step 3: Count Categories for duplicated Resumes
duplicate_category_counts = duplicate_rows['Category'].value_counts()

# Step 4: Print the results
print("Categories of Duplicated Resumes and Their Counts:")
print(duplicate_category_counts)
print(f"\nTotal duplicated Resume entries (all occurrences): {len(duplicate_rows)}")
print(f"Total unique Resumes that were duplicated: {df['Resume'].duplicated().sum()}")
print(f"Total rows in dataset: {len(df)}")

Categories of Duplicated Resumes and Their Counts:
Category
Software Developer        403
Systems Administrator     372
Web Developer             265
Java Developer            217
Network Administrator     177
Data Scientist            138
Database Administrator     81
Name: count, dtype: int64

Total duplicated Resume entries (all occurrences): 1653
Total unique Resumes that were duplicated: 917
Total rows in dataset: 23303

In [27]:
import pandas as pd

# Step 1: Load the dataset
df = pd.read_csv('resumes_filtered_utf8.csv')

# Step 2: Identify duplicated Resume entries (all occurrences)
duplicates_mask = df['Resume'].duplicated(keep=False)
duplicate_rows = df[duplicates_mask]

# Step 3: Group duplicates by Resume and check Category consistency
duplicate_groups = duplicate_rows.groupby('Resume')
inconsistent_duplicates = []
consistent_count = 0

for resume, group in duplicate_groups:
    categories = group['Category'].unique()
    if len(categories) > 1:
        # Inconsistent: Resume has multiple Categories
        inconsistent_duplicates.append(group)
    else:
        # Consistent: Resume has the same Category for all duplicates
        consistent_count += len(group) - 1  # Count duplicates (excluding first occurrence)

# Step 4: Combine inconsistent duplicates into a DataFrame
if inconsistent_duplicates:
    inconsistent_df = pd.concat(inconsistent_duplicates)
    print("\nInconsistent Duplicates (Resumes with multiple Categories):")
    print(inconsistent_df.groupby('Resume')['Category'].apply(lambda x: ', '.join(x)).head(10))
    print(f"Total rows with inconsistent Categories: {len(inconsistent_df)}")
else:
    print("\nNo inconsistent duplicates found (all duplicates have the same Category).")

# Step 5: Remove duplicates (keep first occurrence)
df_cleaned = df.drop_duplicates(subset=['Resume'], keep='first')

# Step 6: Verify the cleaned dataset
print(f"\nTotal rows after deduplication: {len(df_cleaned)}")
print("Unique Categories and Their Counts after deduplication:")
print(df_cleaned['Category'].value_counts())

# Step 7: Save the cleaned dataset
df_cleaned.to_csv('resumes_filtered_deduplicated_utf8.csv', index=False, encoding='utf-8')

# Step 8: Save inconsistent duplicates for inspection (if any)
if inconsistent_duplicates:
    inconsistent_df.to_csv('inconsistent_duplicates.csv', index=False, encoding='utf-8')
    print("\nInconsistent duplicates saved to 'inconsistent_duplicates.csv'")

# Step 9: Verify the saved cleaned dataset
df_verified = pd.read_csv('resumes_filtered_deduplicated_utf8.csv')
print("\nSaved cleaned file:")
print("Columns:", df_verified.columns)
print("Total rows:", len(df_verified))
print("Unique Categories and Their Counts:")
print(df_verified['Category'].value_counts())

No inconsistent duplicates found (all duplicates have the same Category).

Total rows after deduplication: 22386
Unique Categories and Their Counts after deduplication:
Category
Software Developer        5668
Systems Administrator     3992
Web Developer             3422
Database Administrator    2766
Java Developer            2350
Network Administrator     2188
Data Scientist            2000
Name: count, dtype: int64

Saved cleaned file:
Columns: Index(['Resume', 'Category'], dtype='object')
Total rows: 22386
Unique Categories and Their Counts:
Category
Software Developer        5668
Systems Administrator     3992
Web Developer             3422
Database Administrator    2766
Java Developer            2350
Network Administrator     2188
Data Scientist            2000
Name: count, dtype: int64